<h3>Sign in</h3>
<form action="/admin" method="post">
  <label for="username">Username</label>
  <input type="text" placeholder="Enter Username" name="username" />
  <label for="password">password</label>
  <input type="password" placeholder="Enter password" name="password" />
  <input type="submit" value="Login" class="btn" />
</form>
<!-- <h3>Resgister</h3>
<form action="/admin" method="post">
  <label for="username">Username</label>
  <input type="text" placeholder="Enter Username" name="username" />
  <label for="password">password</label>
  <input type="password" placeholder="Enter password" name="password" />
  <input type="submit" value="Resgister" class="btn" />
</form> -->
