<header class="header">
  <a href="/" class="h-logo">Admin Panel</a>
  <nav class="h-nav">
    <ul>
      <li>
        <a href="/" class="">home</a>
      </li>
      <li>
        <a href="/about" class="">about</a>
      </li>
      <li>
        <a href="https://github.com/AmmarFayed4" target="_blank">
          <i class="fab fa-github fa-2x"></i>
        </a>
      </li>
    </ul>
  </nav>
  <div class="h-btn">
    <a href="/logout" class="logout-btn">Logout</a>
  </div>
</header>
