<div class="container main">
  <section class="author">
    <h1 class="author__heading">About Me</h1>
    <p class="author__body">
      Web Developer | Backend Enthusiast | Problem Solver
    </p>
  </section>

  <section class="about">
    <img
      src="/imgs/profile.jpg"
      alt="Ammar's Profile Picture"
      class="profile-img"
    />
    <p>
      Hi, I'm Ammar! A web developer skilled in **HTML, CSS, JavaScript,
      Node.js, and WordPress**. I work with **MongoDB** for backend solutions
      and have foundational knowledge of **PHP**.
    </p>
    <p>
      My expertise includes **backend development, API design, payment
      integration, and e-commerce customization**. I thrive on problem-solving
      and structured development.
    </p>
  </section>

  <section class="articles">
    <h2 class="articles__heading">Latest Work</h2>
    <ul class="article-ul">
      <li>
        <a href="https://ammarfayed4.github.io/Memory-Game/">
          <span>Memory Game – A fun JS project</span>
          <span class="article-list__date">May 2025</span>
        </a>
      </li>
      <li>
        <a href="https://github.com/AmmarFayed4/e-commerce_backend">
          <span>E-commerce Backend – Express.js & MongoDB</span>
          <span class="article-list__date">April 2025</span>
        </a>
      </li>
      <li>
        <a href="https://github.com/AmmarFayed4/Type-App">
          <span>Type App - A fun JS project</span>
          <span class="article-list__date">May 2025</span>
        </a>
      </li>
      <li>
        <a href="https://ammarfayed4.github.io/Todolist-App/">
          <span>Todolist-App - A fun JS project</span>
          <span class="article-list__date">May 2025</span>
        </a>
      </li>
    </ul>
  </section>
</div>
